# ======================
# APP
# ======================
NODE_ENV=development
PORT=7096

CORS_ORIGINS=http://localhost:3000,http://localhost:5173

# ======================
# DATABASE
# ======================
# Database
DATABASE_URL=mongodb+srv://<username>:<password>@cluster0.xfurh.mongodb.net/backend2026?retryWrites=true&w=majority&appName=Cluster0

# ======================
# ADMIN ACCOUNT
# ======================
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=admin123


# ======================
# JWT key generated cmd: openssl rand -hex 64
# ======================
JWT_ACCESS_SECRET=super_access_secret_key
JWT_ACCESS_EXPIRES_IN=1d

JWT_REFRESH_SECRET=super_refresh_secret_key
JWT_REFRESH_EXPIRES_IN=7d

JWT_RESET_PASS_SECRET=super_reset_pass_secret_key
JWT_RESET_PASS_EXPIRES_IN=15m

BCRYPT_SALT_ROUNDS=10

# ======================
# AWS S3
# ======================
S3_ENDPOINT="https://s3.eu-north-1.amazonaws.com"
S3_REGION="eu-north-1"
S3_ACCESS_KEY=""
S3_SECRET_KEY=""
S3_BUCKET_NAME="advocatoriowebclick"

# ======================
# STRIPE
# ======================
STRIPE_SECRET_KEY=sk_test_xxxxxxxxxxxxx
STRIPE_PUBLISHABLE_KEY=pk_test_xxxxxxxxxxxxx

# ======================
# Brevo / SMTP
# ======================
SMTP_HOST="smtp-relay.brevo.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=""
SMTP_PASS=""
SMTP_FROM="Test App<mdmehedihasanmehad@gmail.com>"

# ======================
# ZOOM
# ======================
ZOOM_ACCOUNT_ID=zoom_account_id
ZOOM_CLIENT_ID=zoom_client_id
ZOOM_CLIENT_SECRET=zoom_client_secret

# ======================
# GOOGLE
# ======================
GOOGLE_TRANSLATE_API_KEY=google_translate_api_key

# ======================
# TWILIO
# ======================
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_NUMBER=+1234567890

# ======================
# FIREBASE
# ======================
FIREBASE_PROJECT_ID=firebase_project_id
FIREBASE_CLIENT_EMAIL=firebase_client_email
FIREBASE_PRIVATE_KEY=firebase_private_key

